{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/statistics">tulokset</a> <a href="/userlog">käyttäjä loki</a> 
<form action="/add" method="POST">
    <hr>
    <p>
    <label>Valitse punttisali:</label>
    <select name="paikka">
        <option value="Unisport">Unisport</option>
        <option value="Elixia">Elixia</option>
        <option value="Fressi">Fressi</option>
        <option value="fitness24/7">fitness24/7</option>
        <option value="Fit">Fit</option>
        <option value="EasyFit">EasyFit</option>
    </select>
    </p>
    <p>
    <label>Valitse liike:</label>
    <select name="liike">
        <option value="Penkki">Penkki</option>
        <option value="Kyykky">Kyykky</option>
        <option value="Skottipenkki">Skottipenkki</option>
        <option value="Jalkaprässi">Jalkäprässi</option>
        <option value="Maastaveto">Maastaveto</option>
    </select>
    </p>
    <p>Maara</p>
    <input type="Maara" name="maara"></p>
    <p>Paino</p>
    <input type="paino" name="paino"></p>
    <input type="submit" value="lisää tulos">
    <hr>

</form>

<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
    <p>Tunnus:<br>
        <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Kirjaudu">
</form>
{% endif %}
