{% extends "layout.html" %}
{% block content %}
{% if session.username %}
<a href="/statistics">tulokset</a> <a href="/userlog">käyttäjä loki</a> 
<form action="/add" method="POST">
    
    <p>
    <label>Valitse punttisali:</label>
    <select name="gym">
        <option value="Unisport">Unisport</option>
        <option value="Elixia">Elixia</option>
        <option value="Fressi">Fressi</option>
        <option value="fitness24/7">fitness24/7</option>
        <option value="Fit">Fit</option>
        <option value="EasyFit">EasyFit</option>
    </select>
    </p>
    <p>
    <label>Valitse liike:</label>
    <select name="gym_equipment">
        <option value="Penkki">Penkki</option>
        <option value="Jalkakyykky">Jalkakyykky</option>
        <option value="Skottipenkki">Skotti penkki</option>
        <option value="Jalkaprassi">Jalkaprässi</option>
        <option value="Maastaveto">Maastaveto</option>
    </select>
    </p>
    <p>Maara</p>
    <input type="number" name="do_amount" minlength="1" min="1" max="1000" required title="Numbers only"></p>
    <p>Paino</p>
    <input type="number" name="weight_amount" minlength="1" min="1" max="1000" required title="Numbers only"></p>
    <input type="submit" value="lisää tulos">
</form>

<br>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/donewuser" method="POST">
    <input type="submit" value="Tee uusi käyttäjä">
</form>
<form action="/login" method="POST">
    <p>Tunnus:<br>
        <input type="text" name="username" minlength="1" required></p>
    <p>Salasana:<br>
    <input type="password" name="password" minlength="1" required></p>
    <input type="submit" value="Kirjaudu">
</form>
{% endif %}
{% endblock %}