{{ session.username }}
Olet käynyt urheilemassa

<br><button onclick="goBack()">takaisin</button><br>
<br><form action="/bench_press">
  <input type="submit" value="penkin tulokset">
</form>
<form action="/scottish_bench">
  <input type="submit" value="Skottipenkin tulokset">
</form>
<form action="/deadlift">
  <input type="submit" value="Maastaveto tulokset">
</form>
<form action="/squat">
  <input type="submit" value="Jalkakyykky tulokset">
</form>
<form action="/footpress">
  <input type="submit" value="Jalkaprässi tulokset">
</form>

<hr>
{% for stat in stats %}
Liike:
{{ stat[0] }} &nbsp;
Kuntosali:
{{ stat[1] }} &nbsp;
päivämäärä:
{{ stat[2].strftime("%d.%m.%Y") }}
<hr>
{% endfor %}

<script>
function goBack() {
  window.history.back();
}
</script> 